.sponsors-block {
    margin-bottom: 70px;
    padding: 50px 0;

    .main-title {
        font-family: "Roboto";
        font-weight: 300;
        text-align: center;
        font-size: 33px;
        margin-bottom: 40px;
    }

    .sponsor-logo {
        display: block;
    }

    .sponsor-logo img {
        display: block;
        width: 140px;
        margin: 0 auto;
        // opacity: 0.6;

        @include grayscale-100;
        @include transition(.25s);

    }
    .sponsor-logo:hover img {
        @include grayscale-1;

        // opacity: 1;
    }
}