<div class="speakers-block" id="speakers-block">
    <div class="container">
        <div class="row" data-container="speakers">
            <h4 class="main-title">Desarrolladores</h4>

            <div class="col l3 m6 s12" data-template="speaker">
                <div class="speaker-card card">
                    <div class="card-face face-2">
                        <button data-card-back="data-card-back" class="card-face__back-button">
                            <img src="img/cross.png" alt="">
                        </button>
                        <div class="card-face-summary">
                            <h5 class="card-face__name" data-value="full_name"></h5>
                            <span class="card-face__title" data-value="position"></span>
                            <p data-value="bio"></p>
                        </div>
                    </div>
                    <div class="card-face face-1">
                        <button data-card-menu="data-card-menu" class="card-face__menu-button">
                            <i class="fa fa-info-circle"></i>
                        </button>
                        <div class="card-face__avatar">
                            <img src="img/avatar_default.png" width="110" height="110" draggable="false" data-image="photo"/>
                        </div>
                        <h2 class="card-face__name" data-value="full_name">Alex Condori</h2>
                        <span class="card-face__title" data-value="position">Frontend Developer</span>
                        <ul class="card-face-footer">
                            <li>
                                <a href="" target="_blank" class="card-face__social google-plus" data-link="google_plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="card-face__social twitter" data-link="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="card-face__social github" data-link="github">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="card-face__social speech" data-link="talk">
                                    <i class="fa fa-file-o"></i>
                                </a>
                            </li>
                        </div>
                </div>
            </div>
            
            <div class="col l3 m6 s12" data-template="speaker">
                <div class="speaker-card card">
                    <div class="card-face face-2">
                        <button data-card-back="data-card-back" class="card-face__back-button">
                            <img src="img/cross.png" alt="">
                        </button>
                        <div class="card-face-summary">
                            <h5 class="card-face__name" data-value="full_name"></h5>
                            <span class="card-face__title" data-value="position"></span>
                            <p data-value="bio"></p>
                        </div>
                    </div>

                    <div class="card-face face-1">
                        <button data-card-menu="data-card-menu" class="card-face__menu-button">
                            <i class="fa fa-info-circle"></i>
                        </button>
                        <div class="card-face__avatar">
                            <img src="img/avatar_default.png" width="110" height="110" draggable="false" data-image="photo"/>
                        </div>
                        <h2 class="card-face__name" data-value="full_name">Jhonny Cruz</h2>
                        <span class="card-face__title" data-value="position">Mobile Developer</span>
                        <ul class="card-face-footer">
                            <li>
                                <a href="" target="_blank" class="card-face__social google-plus" data-link="google_plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="card-face__social twitter" data-link="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="card-face__social github" data-link="github">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="card-face__social speech" data-link="talk">
                                    <i class="fa fa-file-o"></i>
                                </a>
                            </li>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>